{% extends 'rooms/add_room_type.html' %}

{% block frame_content2 %}

    <style>
        /* 外层容器样式 */
        .RoomType-container {
            border: 1px solid #ddd;
            padding: 20px;
            margin: 20px auto;
            width: 90%;
            background-color: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 20px; /* 根据需要调整，确保背景区域与文字间隔自然 */
        }

    </style>

     <!-- 搜索区域 -->
    <div class="search-container">
        <form method="GET" action="">
            <!-- 输入框：按入房型名称搜索 -->
            <input type="text"
                   name="search_query"
                   placeholder="请输入房型名称"
                   value="{{ request.GET.search_query|default_if_none:'' }}">

            <div class="search-option-text">
                <button type="submit">搜索</button>
            </div>
        </form>
    </div>

    <div class="RoomType-container">
        <h1 style="text-align:center;">房型</h1>
        <table>
            <thead>
                <tr>
                    <th style="text-align:center;">序号</th>
                    <th>名称</th>
                    <th>人数</th>
                    <th>门市价</th>
                    <th>附加价</th>
                    <th>介绍</th>
                    <th>总数</th>
                    <th>可用</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for RoomType in page_obj %}
                    <tr>
                        <td style="text-align:center;">{{ forloop.counter }}</td>
                        <td>{{ RoomType.type_name }}</td>
                        <td>{{ RoomType.capacity }}</td>
                        <td>{{ RoomType.base_price }}</td>
                        <td>{{ RoomType.extra_price }}</td>
                        <td>{{ RoomType.introduction }}</td>
                        <td>{{ RoomType.total }}</td>
                        <td>{{ RoomType.remaining }}</td>
                        <td style="white-space: nowrap;">
                            <button type="button" class="action-button" onclick="window.location.href='{% url 'room_type_info' RoomType.type_id %}?page={{ page_obj.number }}';">详情</button> |
                            <button type="button" class="action-button" onclick="window.location.href='{% url 'query_room' RoomType.type_id %}?page={{ page_obj.number }}';">房间</button> |
                            <button type="button" class="action-button" onclick="if(confirm('房型删除后，以下操作将收到影响，是否确认删除？' +
                             '\n1. 已取消的订单无法恢复预订；已退房的订单无法撤销退房；' +
                             '\n2. 办理入住、办理退房时，需要根据系统引导，先修改订单的房型房间后才可正常办理。'))
                             {window.location.href='{% url 'delete_room_type' RoomType.type_id %}?page={{ page_obj.number }}';} ">删除</button>
                        </td>
                    </tr>
                {% empty %}
                <tr>
                    <td colspan="8" style="text-align:center;">暂无房型数据</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 分页导航 -->
        <div class="pagination">
            <div class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; 第一页</a>
                    <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="page-current">
                    第 {{ page_obj.number }} 页，共 {{ page_obj.paginator.num_pages }} 页
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">最后一页 &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
