{% extends 'accounts/manager/manager_add_employee.html' %}

{% block content %}
    <style>
        .search-container {
            text-align: center;
        }
        /* 让搜索框贴合顶部导航栏 */
        .search-box {
            margin-top: 0; /* 让其与顶部导航栏贴合 */
            /* 圆角 */
            border-radius: 0 0 10px 10px;
        }
        /* 外层容器样式 */
        .employee-container {
            border: 1px solid #ddd;
            padding: 20px;
            margin: 20px auto;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 20px; /* 根据需要调整，确保背景区域与文字间隔自然 */

        }
    </style>

    <!-- 搜索区域 -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card shadow-sm search-box mt-0">
                    <div class="card-body">
                        <div class="search-container">
                            <form method="GET" action="">
                                <!-- 输入框：按工号或姓名搜索 -->
                                <input type="text"
                                       name="search_query"
                                       placeholder="请输入员工工号或姓名"
                                       value="{{ request.GET.search_query|default_if_none:'' }}">

                                <!-- 角色下拉框：如果需要保持搜索后仍显示用户选择的值，则可以对选项进行判断 selected -->
                                <div class="search-option-text">角色</div>
                                <select type="select" id="role" name="role">
                                    <option value="">全部</option>
                                    <option value="manager" {% if request.GET.role == 'manager' %}selected{% endif %}>民宿管理员</option>
                                    <option value="reception" {% if request.GET.role == 'reception' %}selected{% endif %}>民宿前台</option>
                                    <option value="cleaner" {% if request.GET.role == 'cleaner' %}selected{% endif %}>民宿保洁</option>
                                </select>

                                <div class="search-option-text">状态</div>
                                <select type="select" id="status" name="status" style="width: 100px">
                                    <option value="">全部</option>
                                    <option value="True" {% if request.GET.status == 'True' %}selected{% endif %}>启用</option>
                                    <option value="False" {% if request.GET.status == 'False' %}selected{% endif %}>禁用</option>
                                </select>

                                <div class="search-option-text">
                                    <button type="submit">搜索</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="employee-container">

        <h1 style="text-align:center;">员工列表</h1>
        <table>
            <thead>
                <tr>
                    <th style="text-align:center;">序号</th>
                    <th>角色</th>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>民宿</th>
                    <th>手机</th>
                    <th>身份证</th>
                    <th>通讯地址</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in page_obj %}
                    <tr>
                        <td style="text-align:center;">{{ forloop.counter }}</td>
                        <td>{{ employee.get_role_display }}</td>
                        <td>{{ employee.employee_id }}</td>
                        <td>{{ employee.employee_name }}</td>
                        <td>{{ employee.homestay.name }}</td>
                        <td>{{ employee.employee_phone }}</td>
                        <td>{{ employee.employee_IDcard }}</td>
                        <td>{{ employee.employee_address }}</td>
                        <td>{{ employee.is_active }}</td>
                        <td style="white-space: nowrap;">
                            <button type="button" class="action-button" onclick="window.location.href='{% url 'manager_employee_info' employee.id %}?page={{ page_obj.number }}'; ">详情</button> |
                            <button type="button" class="action-button" onclick="window.location.href='{% url 'reset_password' employee.id %}?page={{ page_obj.number }}'; ">重置</button> |
                            {% if employee.employee_id != user.employee_id %}
                                {% if employee.is_active %}
                                    <button type="button" class="action-button" onclick="if(confirm('确定禁用该账户吗？')) { window.location.href='{% url 'set_is_active' employee.id %}?page={{ page_obj.number }}'; }">禁用</button> |
                                {% else %}
                                    <button type="button" class="action-button" onclick="if(confirm('确定启用该账户吗？')) { window.location.href='{% url 'set_is_active' employee.id %}?page={{ page_obj.number }}'; }">启用</button> |
                                {% endif %}
                                <button type="button" class="action-button" onclick="if(confirm('确定注销该账户吗？')){ window.location.href='{% url 'delete_employee' employee.id %}?page={{ page_obj.number }}'; }">注销</button>
                            {% else %}
                                <strong>当前账户</strong>
                            {% endif %}

                        </td>
                    </tr>
                {% empty %}
                <tr>
                    <td colspan="8" style="text-align:center;">暂无员工数据</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 分页导航 -->
        <div class="pagination">
            <div class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; 第一页</a>
                    <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="page-current">
                    第 {{ page_obj.number }} 页，共 {{ page_obj.paginator.num_pages }} 页
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">最后一页 &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
